<!DOCTYPE html>
<html lang="en">
     <head>
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="css/main.css">
          <script defer src="js/main.js" ></script>
     </head>
     <body>
          <div class="container">
               <textarea class="lg-txt lg-txt-in" placeholder="Enter your text here...">{"name": "JK"}</textarea>
               <div class="controls">
                    <button type="button" class="ctl-btn btn-format">Format</button>
                    <button type="button" class="ctl-btn btn-stringify">Stringify</button>
                    <button type="button" class="ctl-btn btn-example">Load Example</button>
               </div>
               <textarea class="lg-txt lg-txt-out" readonly placeholder="Your text will appear here..."></textarea>
          </div>
     </body>
</html>